.contact-section {
    width: 50%;
    margin: 30px auto;
    border-radius: 30px;
    box-shadow: 0 35px 60px 0 rgb(0 0 0 / 40%);
    padding: 50px;
    background-color: #fff;
}
.contact-section h4 {
    color: #4353a0;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
.contact-section .left-li {
    width: 45%;
    float: left;
}
.contact-section .right-li {
    width: 50%;
    float: right;
}
.contact-section input, .contact-section textarea {
    width: 100%;
    float: left;
    margin: 10px 0;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
}


@media only screen and (max-width: 767px) {
    .contact-section {
        width: 70%;
        margin: 30px 6px;
    }
}